Repository cortexproject/cortex, pull requests merged in 2024-12, with the labels that each got.

#6386 Starting using weaveworks common fork
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  go.mod
  go.sum
  pkg/tracing/tracing.go
  vendor/github.com/sercand/kuberesolver/v5/.gitignore
  vendor/github.com/sercand/kuberesolver/v5/LICENSE
  vendor/github.com/sercand/kuberesolver/v5/README.md
  vendor/github.com/sercand/kuberesolver/v5/builder.go
  vendor/github.com/sercand/kuberesolver/v5/kubernetes.go
  vendor/github.com/sercand/kuberesolver/v5/models.go
  vendor/github.com/sercand/kuberesolver/v5/stream.go
  vendor/github.com/sercand/kuberesolver/v5/util.go
  vendor/github.com/weaveworks/common/COPYING.LGPL-3
  vendor/github.com/weaveworks/common/httpgrpc/server/server.go
  vendor/github.com/weaveworks/common/logging/format.go
  vendor/github.com/weaveworks/common/logging/gokit.go
  vendor/github.com/weaveworks/common/logging/level.go
  vendor/github.com/weaveworks/common/middleware/response.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/github.com/weaveworks/common/signals/signals.go
  vendor/modules.txt
Labels: dependencies, size/M

#6390 Log query requests in QFE before query execution
  pkg/frontend/transport/handler.go
Labels: type/observability, size/S, component/query-frontend, lgtm

#6387 Return 503 on hitting distributor instance limits
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: component/distributor, size/S, lgtm

#6391 log grafana headers along with query request before query execution
  pkg/frontend/transport/handler.go
Labels: size/S, component/query-frontend, lgtm

#6340 Ruler: Add support for per-user external labels
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/cortex/modules.go
  pkg/cortex/runtime_config.go
  pkg/cortex/runtime_config_test.go
  pkg/ruler/api_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/external_labels.go
  pkg/ruler/external_labels_test.go
  pkg/ruler/manager.go
  pkg/ruler/manager_test.go
  pkg/ruler/ruler_ring_test.go
  pkg/ruler/ruler_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: component/rules, size/L

#6392 chore: remove unnecessary level filter
  pkg/util/log/log.go
Labels: type/chore, size/S, lgtm

#6388 Add hedged request to Store Gateway
  CHANGELOG.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  go.mod
  go.sum
  integration/e2ecortex/storage.go
  pkg/alertmanager/alertstore/store.go
  pkg/compactor/compactor.go
  pkg/cortex/modules.go
  pkg/ingester/ingester.go
  pkg/purger/tenant_deletion_api.go
  pkg/querier/blocks_store_queryable.go
  pkg/ruler/storage.go
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/client.go
  pkg/storage/bucket/client_test.go
  pkg/storage/bucket/gcs/bucket_client.go
  pkg/storage/bucket/hedged_request.go
  pkg/storage/bucket/hedged_request_test.go
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/sse_bucket_client_test.go
  pkg/storage/bucket/swift/bucket_client.go
  pkg/storegateway/gateway.go
  tools/thanosconvert/thanosconvert.go
  vendor/github.com/caio/go-tdigest/.gitignore
  vendor/github.com/caio/go-tdigest/CONTRIBUTING.md
  vendor/github.com/caio/go-tdigest/Gopkg.lock
  vendor/github.com/caio/go-tdigest/Gopkg.toml
  vendor/github.com/caio/go-tdigest/LICENSE
  vendor/github.com/caio/go-tdigest/README.md
  vendor/github.com/caio/go-tdigest/options.go
  vendor/github.com/caio/go-tdigest/rng.go
  vendor/github.com/caio/go-tdigest/serialization.go
  vendor/github.com/caio/go-tdigest/summary.go
  vendor/github.com/caio/go-tdigest/tdigest.go
  vendor/github.com/cristalhq/hedgedhttp/LICENSE
  vendor/github.com/cristalhq/hedgedhttp/README.md
  vendor/github.com/cristalhq/hedgedhttp/hedged.go
  vendor/github.com/cristalhq/hedgedhttp/stats.go
  vendor/github.com/thanos-io/thanos/pkg/exthttp/hedging.go
  vendor/github.com/thanos-io/thanos/pkg/exthttp/tlsconfig.go
  vendor/github.com/thanos-io/thanos/pkg/exthttp/transport.go
  vendor/modules.txt
Labels: size/L, component/store-gateway, lgtm

#6395 Fix flaky TestExpendedPostingsCacheIsolation test
  pkg/ingester/ingester_test.go
Labels: type/flaky-test, size/XS

#6199 Query Frontend: add new field for dense native histogram format
  pkg/api/handlers.go
  pkg/querier/codec/protobuf_codec.go
  pkg/querier/codec/protobuf_codec_test.go
  pkg/querier/tripperware/merge.go
  pkg/querier/tripperware/query.pb.go
  pkg/querier/tripperware/query.proto
Labels: size/L, component/query-frontend

#6398 ingester: Fix regression on usage of cortex_ingester_queried_chunks
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/M, lgtm

#6400 Upgrade thanos version to v0.37.1
  go.mod
  go.sum
  vendor/github.com/thanos-io/promql-engine/logicalplan/distribute.go
  vendor/github.com/thanos-io/thanos/pkg/promclient/promclient.go
  vendor/modules.txt
Labels: dependencies, size/S, lgtm

#6277 Make sure unregistered ingester joining the ring after WAL replay
  CHANGELOG.md
  pkg/compactor/compactor_test.go
  pkg/ring/kv/dynamodb/client.go
  pkg/ring/lifecycler.go
  pkg/ring/lifecycler_test.go
Labels: component/ingester, size/L, component/ring, lgtm

#6405 Add slogAdapter
  go.mod
  go.sum
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
  pkg/querier/tripperware/queryrange/split_by_interval_test.go
  pkg/util/log/log.go
  pkg/util/log/slog_adapter.go
  pkg/util/log/slog_adapter_test.go
  vendor/github.com/tjhop/slog-gokit/.goreleaser.yaml
  vendor/github.com/tjhop/slog-gokit/LICENSE
  vendor/github.com/tjhop/slog-gokit/Makefile
  vendor/github.com/tjhop/slog-gokit/README.md
  vendor/github.com/tjhop/slog-gokit/handler.go
  vendor/github.com/tjhop/slog-gokit/level.go
  vendor/modules.txt
Labels: size/M, sync-vendor, go, lgtm

#6408 Fix race on the string interning
  go.mod
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/strings.go
  vendor/github.com/hashicorp/golang-lru/v2/expirable/expirable_lru.go
  vendor/modules.txt
Labels: component/ingester, size/L

#6406 Create a goroutine worker pool to send data from distributors to ingesters.
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/alertmanager/distributor.go
  pkg/alertmanager/multitenant.go
  pkg/distributor/distributor.go
  pkg/ring/batch.go
  pkg/ring/ring_test.go
  pkg/util/worker_pool.go
  pkg/util/worker_pool_test.go
Labels: component/distributor, type/performance, size/L, lgtm

#6409 Fix race on the LabelSet Counter
  CHANGELOG.md
  pkg/ingester/ingester_test.go
  pkg/ingester/user_state.go
Labels: component/ingester, size/S, lgtm

#6410 Update thanos version to d0d93dbf3efc
  go.mod
  go.sum
  vendor/github.com/thanos-io/thanos/pkg/exthttp/hedging.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/inprocess.go
  vendor/modules.txt
Labels: dependencies, size/XS, go

#6411 Update thanos to latest main to pull lazy posting improvements
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  go.mod
  go.sum
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_store_metrics_test.go
  pkg/storegateway/bucket_stores.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/modules.txt
Labels: dependencies, size/M, go, lgtm

#6414 Changing client healthcheck config cli argument
  docs/blocks-storage/querier.md
  docs/configuration/config-file-reference.md
  pkg/util/grpcclient/health_check.go
Labels: type/feature, size/S

#6415 Store Gateway: fix merge fetched postings with lazy postings
  go.mod
  go.sum
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/modules.txt
Labels: dependencies, size/XS, component/store-gateway, lgtm

#6350 Change query fuzz test for bottomk, topk
  integration/query_fuzz_test.go
Labels: size/M, type/tests, lgtm

#6417 Expanded Postings Cache can cache results without the nearly created series under high load.
  .github/workflows/test-build-deploy.yml
  Makefile
  pkg/ingester/ingester.go
  pkg/ingester/ingester_no_race_test.go
Labels: component/ingester, size/L

#6420 Change query fuzz test for bottomk, topk: take 2
  integration/query_fuzz_test.go
Labels: size/S, type/tests

#6423 Add # of series in query response to query stat log
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/querier/stats/stats.go
  pkg/querier/tripperware/instantquery/instant_query.go
  pkg/querier/tripperware/queryrange/query_range.go
  pkg/querier/tripperware/util.go
Labels: component/querier, size/M

#6433 Cleanup dangling request queue metrics
  pkg/frontend/v1/frontend.go
  pkg/frontend/v1/frontend_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: type/observability, size/S, lgtm

#6403 Reusing Batch Iterators
  pkg/ingester/ingester_test.go
  pkg/querier/batch/batch.go
  pkg/querier/batch/batch_test.go
  pkg/querier/batch/merge.go
  pkg/querier/batch/merge_test.go
  pkg/querier/chunk_store_queryable.go
  pkg/querier/distributor_queryable.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: component/querier, type/performance, size/L

#6435 Add default partition when no matching labelset liimits
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/user_state.go
  pkg/ingester/user_state_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: component/ingester, size/XL, lgtm

#6437 Enhance `cortex_ingester_inflight_push_requests` metric
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
Labels: component/ingester, size/M

#6427 docs: fix markdown link for other otel collectors
  docs/guides/tracing.md
Labels: component/documentation, size/XS, lgtm

#6438 Update `cortex_ingester_inflight_push_requests` metric description
  CHANGELOG.md
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
Labels: component/ingester, size/XS

#6378 Add OTLP write handler benchmark
  pkg/util/push/otlp_test.go
Labels: size/L, lgtm

#6429 Add docs for open telemetry collector
  docs/guides/open-telemetry-collector.md
Labels: component/documentation, size/L, lgtm

#6444 Create new `cortex_querier_codec_response_size` histogram to track the size of the encoded Query responses
  CHANGELOG.md
  pkg/api/handlers.go
  pkg/querier/codec/instrumented_codec.go
  pkg/querier/codec/protobuf_codec_test.go
Labels: component/querier, type/observability, size/M

#6443 Add distributor per labelset received samples metric
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/metrics.go
  pkg/distributor/metrics_test.go
  pkg/util/active_user.go
  pkg/util/active_user_test.go
Labels: type/observability, component/distributor, size/L, lgtm

#6448 Prep for v1.19.0
  RELEASE.md
Labels: size/XS, lgtm

#6450 QFE: Fix @ modifier for subquery
  CHANGELOG.md
  pkg/querier/tripperware/queryrange/split_by_interval.go
  pkg/querier/tripperware/queryrange/split_by_interval_test.go
Labels: component/querier, size/S

#6451 Avoid over allocating strings.Builder when creating cache key
  pkg/storage/tsdb/expanded_postings_cache.go
  pkg/storage/tsdb/expanded_postings_cache_test.go
Labels: size/M

#6445 expose indexheader download and load duration histograms
  CHANGELOG.md
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_store_metrics_test.go
Labels: type/observability, size/M, component/store-gateway, lgtm

#6455 Create `cortex_ingester_expanded_postings_cache_miss` metric
  pkg/ingester/ingester_test.go
  pkg/storage/tsdb/expanded_postings_cache.go
  pkg/storage/tsdb/expanded_postings_cache_test.go
Labels: type/observability, size/M

#6449 Make the number of workers processing federated query configurable
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/cortex/modules.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/tenantfederation/tenant_federation.go
Labels: component/querier, type/observability, size/L, lgtm

#6460 Update arguments.md
  docs/configuration/arguments.md
Labels: component/documentation, size/S, lgtm

#6436 Improve streaming on MetricsForLabelMatchersStream method
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/M

#6466 Use slice pooling to populate the query stream response
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, type/performance, size/M

#6467 Replace `cespare/xxhash` with `cespare/xxhash/v2`
  go.mod
  go.sum
  pkg/chunk/cache/memcached_client_selector.go
  vendor/github.com/cespare/xxhash/LICENSE.txt
  vendor/github.com/cespare/xxhash/README.md
  vendor/github.com/cespare/xxhash/rotate.go
  vendor/github.com/cespare/xxhash/rotate19.go
  vendor/github.com/cespare/xxhash/xxhash.go
  vendor/github.com/cespare/xxhash/xxhash_amd64.go
  vendor/github.com/cespare/xxhash/xxhash_amd64.s
  vendor/github.com/cespare/xxhash/xxhash_other.go
  vendor/github.com/cespare/xxhash/xxhash_safe.go
  vendor/github.com/cespare/xxhash/xxhash_unsafe.go
  vendor/github.com/thanos-io/promql-engine/engine/distributed.go
  vendor/github.com/thanos-io/promql-engine/engine/engine.go
  vendor/github.com/thanos-io/promql-engine/execution/execution.go
  vendor/github.com/thanos-io/promql-engine/execution/remote/operator.go
  vendor/github.com/thanos-io/promql-engine/logicalplan/distribute.go
  vendor/github.com/thanos-io/promql-engine/query/options.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/vector_selector.go
  vendor/github.com/thanos-io/thanos/pkg/cacheutil/memcached_server_selector.go
  vendor/github.com/thanos-io/thanos/pkg/query/remote_engine.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/cache/filter_cache.go
  vendor/github.com/thanos-io/thanos/pkg/store/flushable.go
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/github.com/thanos-io/thanos/pkg/store/tsdb_selector.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
Labels: dependencies, size/S, go

#6422 Add metric name in limiter per-metric exceeded errors
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/user_metrics_metadata.go
Labels: component/ingester, size/M, lgtm

#6172 Implement partition compaction grouper
  docs/blocks-storage/compactor.md
  docs/configuration/config-file-reference.md
  pkg/compactor/compactor.go
  pkg/compactor/compactor_metrics.go
  pkg/compactor/compactor_metrics_test.go
  pkg/compactor/compactor_test.go
  pkg/compactor/partition_compaction_grouper.go
  pkg/compactor/partition_compaction_grouper_test.go
  pkg/compactor/partition_visit_marker.go
  pkg/compactor/partitioned_group_info.go
  pkg/compactor/partitioned_group_info_test.go
  pkg/compactor/shuffle_sharding_grouper.go
  pkg/cortex/modules.go
  pkg/storage/tsdb/meta_extensions.go
  pkg/storage/tsdb/meta_extensions_test.go
  pkg/util/shard.go
  pkg/util/validation/limits.go
Labels: size/XXL

#6345 Support ruler to retrieve proto format query response
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  go.mod
  integration/ruler_test.go
  pkg/querier/codec/protobuf_codec.go
  pkg/querier/codec/protobuf_codec_test.go
  pkg/querier/tripperware/instantquery/instant_query.go
  pkg/querier/tripperware/instantquery/instant_query_test.go
  pkg/querier/tripperware/query.go
  pkg/querier/tripperware/queryrange/marshaling_test.go
  pkg/querier/tripperware/queryrange/query_range.go
  pkg/querier/tripperware/queryrange/query_range_test.go
  pkg/querier/tripperware/queryrange/split_by_interval_test.go
  pkg/querier/tripperware/roundtrip.go
  pkg/querier/tripperware/roundtrip_test.go
  pkg/ruler/frontend_client.go
  pkg/ruler/frontend_client_pool.go
  pkg/ruler/frontend_client_test.go
  pkg/ruler/frontend_decoder.go
  pkg/ruler/frontend_decoder_test.go
  pkg/ruler/ruler.go
Labels: component/rules, size/XL, lgtm
