Repository cortexproject/cortex, pull requests merged in 2025-09, with the labels that each got.

#6974 add logical plan distributed optimizer to query frontend
  pkg/api/queryapi/query_api.go
  pkg/cortex/modules.go
  pkg/distributed_execution/codec.go
  pkg/distributed_execution/codec_test.go
  pkg/distributed_execution/distributed_optimizer.go
  pkg/distributed_execution/distributed_optimizer_test.go
  pkg/distributed_execution/fragment_key.go
  pkg/distributed_execution/remote_node.go
  pkg/distributed_execution/remote_node_test.go
  pkg/querier/tripperware/distributed_query.go
  pkg/querier/tripperware/distributed_query_test.go
  pkg/querier/tripperware/instantquery/instant_query_middlewares.go
  pkg/querier/tripperware/instantquery/instant_query_middlewares_test.go
  pkg/querier/tripperware/queryrange/query_range_middlewares.go
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
Labels: size/XL, component/query-frontend

#6994 Bug fix: Return 429 response when Native Histogram samples are discarded by Native Histogram Ingestion Rate Limiter
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: type/bug, component/distributor, size/L

#7008 add gRPC service for querier-to-querier communication
  pkg/distributed_execution/querierpb/querier.pb.go
  pkg/distributed_execution/querierpb/querier.proto
Labels: component/querier, size/M

#7017 Fix icon file name for Cabify adopter
  website/static/logos/cabify.svg
Labels: size/XS

#7011 Upgrades weaveworks-common to remove aws-sdk-go dependency
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#7010 Include dynamodb as a ring store in the docs
  docs/blocks-storage/compactor.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/ring/kv/client.go
Labels: size/L, backend/dynamodb, component/ring

#6968 scheduler: fragment queue and querier pick-up coordination
  docs/configuration/config-file-reference.md
  pkg/cortex/modules.go
  pkg/distributed_execution/fragment_key.go
  pkg/distributed_execution/plan_fragments/fragmenter.go
  pkg/distributed_execution/plan_fragments/fragmenter_test.go
  pkg/distributed_execution/remote_node.go
  pkg/querier/querier.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/worker.go
  pkg/scheduler/fragment_table/fragment_table.go
  pkg/scheduler/fragment_table/fragment_table_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
  pkg/util/logical_plan/test_logicalplan_utils.go
Labels: component/querier, size/XL

#7022 chore: apply modernize for recent commits
  pkg/scheduler/fragment_table/fragment_table_test.go
Labels: type/chore, size/XS, lgtm

#7023 Add Swiggy to Adopters list
  ADOPTERS.md
Labels: size/XS, lgtm

#7024 chore: delete warning message in make modernize
  Makefile
Labels: type/chore, size/XS, lgtm

#7029 Updates armon/hashicorp metrics library
  go.mod
  go.sum
  pkg/ring/kv/memberlist/metrics.go
  vendor/github.com/hashicorp/go-metrics/.gitignore
  vendor/github.com/hashicorp/go-metrics/.travis.yml
  vendor/github.com/hashicorp/go-metrics/LICENSE
  vendor/github.com/hashicorp/go-metrics/README.md
  vendor/github.com/hashicorp/go-metrics/const_js.go
  vendor/github.com/hashicorp/go-metrics/const_unix.go
  vendor/github.com/hashicorp/go-metrics/const_windows.go
  vendor/github.com/hashicorp/go-metrics/inmem.go
  vendor/github.com/hashicorp/go-metrics/inmem_endpoint.go
  vendor/github.com/hashicorp/go-metrics/inmem_signal.go
  vendor/github.com/hashicorp/go-metrics/metrics.go
  vendor/github.com/hashicorp/go-metrics/prometheus/prometheus.go
  vendor/github.com/hashicorp/go-metrics/sink.go
  vendor/github.com/hashicorp/go-metrics/start.go
  vendor/github.com/hashicorp/go-metrics/statsd.go
  vendor/github.com/hashicorp/go-metrics/statsite.go
  vendor/modules.txt
Labels: size/S, component/memberlist

#7032 Unhide parquet runtime configs
  docs/configuration/config-file-reference.md
  pkg/util/validation/limits.go
Labels: component/documentation, size/M, lgtm

#6959 Set up cortex config json schema generator
  Makefile
  schemas/cortex-config-schema.json
  tools/doc-generator/json_schema_writer.go
  tools/doc-generator/main.go
Labels: size/XXL

#7036 Fix flaky TestPerLabelsetDiscardedSeriesTracker
  pkg/util/discardedseries/perlabelset_tracker.go
  pkg/util/discardedseries/perlabelset_tracker_test.go
Labels: type/flaky-test, size/XS
