Repository cortexproject/cortex, pull requests merged in 2025-04, with the labels that each got.

#6682 ruler/decoder: ensure labels order
  pkg/ruler/frontend_decoder.go
  pkg/ruler/frontend_decoder_test.go
Labels: component/rules, size/S

#6677 Fix flaky TestNativeHistogramFuzz
  integration/query_fuzz_test.go
Labels: type/flaky-test, size/S

#6676 Add metric and enhanced logging for query partial data
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/query.go
  pkg/ring/replication_set.go
  pkg/ring/replication_set_test.go
  pkg/ring/replication_set_tracker.go
  pkg/ring/replication_set_tracker_test.go
Labels: type/observability, size/L, component/ring

#6689 Upgrade promqlsmith version to latest
  go.mod
  go.sum
  integration/query_fuzz_test.go
  vendor/github.com/cortexproject/promqlsmith/opts.go
  vendor/github.com/cortexproject/promqlsmith/promqlsmith.go
  vendor/github.com/cortexproject/promqlsmith/walk.go
  vendor/modules.txt
Labels: dependencies, size/S, go, lgtm

#6686 README: Include OpenTelemetry in the title and other enhancements
  MAINTAINERS.md
  README.md
  website/config.toml
  website/content/en/_index.html
  website/layouts/partials/footer.html
Labels: component/documentation, size/S, lgtm

#6698 fix query frontend per tenant metrics leak when cleaning up user labels
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: size/L, component/query-frontend, lgtm

#6681 Implement metadata api query params
  CHANGELOG.md
  integration/e2ecortex/client.go
  integration/ingester_metadata_test.go
  integration/otlp_test.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/user_metrics_metadata.go
  pkg/ingester/user_metrics_metadata_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/metadata_handler.go
  pkg/querier/metadata_handler_test.go
  pkg/querier/querier_test.go
  pkg/querier/tenantfederation/metadata_merge_querier.go
  pkg/querier/tenantfederation/metadata_merge_querier_test.go
  pkg/querier/testutils.go
Labels: component/querier, component/distributor, size/XL, lgtm

#6680 Add percentage based sharding to rulers
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/ruler/compat.go
  pkg/ruler/ruler.go
  pkg/ruler/ruler_test.go
  pkg/util/validation/limits.go
Labels: component/rules, size/L

#6700 Fix NH comparer when Count is NaN
  integration/query_fuzz_test.go
Labels: type/bug, size/XS

#6704 Include KubeCon London Talks 2025
  README.md
Labels: component/documentation, size/XS

#6705 Create a `noOpInterner` in case string interning is disabled
  pkg/ingester/ingester.go
  pkg/util/strings.go
Labels: component/ingester, size/S

#6695 Add cortex_ingester_active_native_histogram_series metric to track ac…
  CHANGELOG.md
  pkg/ingester/active_series.go
  pkg/ingester/active_series_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
Labels: component/ingester, size/L, lgtm

#6674 Add `ResourceMonitor` module in Cortex, and add `ResourceBasedLimiter` in Ingesters and StoreGateways
  CHANGELOG.md
  cmd/cortex/main.go
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  docs/guides/protecting-cortex-from-heavy-queries.md
  go.mod
  go.sum
  pkg/configs/instance_limits.go
  pkg/configs/instance_limits_test.go
  pkg/cortex/cortex.go
  pkg/cortex/cortex_test.go
  pkg/cortex/modules.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_limits.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_test.go
  pkg/util/limiter/resource_based_limiter.go
  pkg/util/resource/monitor.go
  pkg/util/resource/scanner.go
  pkg/util/resource/scanner_darwin.go
  pkg/util/resource/scanner_linux.go
  pkg/util/resource/scanner_test.go
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups2.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Labels: type/feature, component/ingester, size/XXL, component/store-gateway

#6665 Add support for rule group labels
  CHANGELOG.md
  integration/ruler_test.go
  pkg/ruler/ruler.go
  pkg/ruler/rulespb/compat.go
  pkg/ruler/rulespb/compat_test.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/ruler/rulespb/rules.proto
Labels: component/rules, size/M

#6717 Resource monitor: fix bugs + add tests
  integration/resource_based_limiter_test.go
  pkg/cortex/modules.go
  pkg/cortex/modules_test.go
  pkg/util/limiter/resource_based_limiter.go
  pkg/util/limiter/resource_based_limiter_test.go
  pkg/util/resource/monitor.go
  pkg/util/resource/monitor_test.go
  pkg/util/resource/scanner.go
  pkg/util/resource/scanner_test.go
Labels: type/bug, size/L, type/tests

#6715 Return bad request when the tenant resolving fail
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: size/M, component/query-frontend

#6710 Avoid unnecessary conversions between model.Metric and labels.Labels
  pkg/cortexpb/signature.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier_test.go
  pkg/querier/series/series_set.go
  pkg/querier/testutils.go
Labels: component/querier, component/distributor, size/L

#6722 Optimize ingester userStats func
  pkg/ingester/ingester.go
Labels: component/ingester, size/XS, lgtm

#6678 [Query-Frontend] Add dynamic query vertical sharding
  docs/configuration/config-file-reference.md
  pkg/querier/tripperware/queryrange/query_range_middlewares.go
  pkg/querier/tripperware/queryrange/split_by_interval.go
  pkg/querier/tripperware/queryrange/split_by_interval_test.go
  pkg/querier/tripperware/shard_by.go
Labels: size/XL, component/query-frontend

#6725 Setup blog with first post
  website/config.toml
  website/content/en/blog/2025/first-post.md
  website/content/en/blog/_index.md
Labels: size/M

#6721 Extend bucket index to add parquet fields to block
  pkg/storage/parquet/converter_marker.go
  pkg/storage/tsdb/bucketindex/index.go
  pkg/storage/tsdb/bucketindex/markers.go
  pkg/storage/tsdb/bucketindex/updater.go
  pkg/storage/tsdb/bucketindex/updater_test.go
  pkg/storage/tsdb/testutil/block_mock.go
Labels: size/L, storage/blocks, component/compactor, lgtm

#6718 Replace EnableNativeHistograms from TSDB config with PerTenant Limit
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/storage/tsdb/config.go
  pkg/util/validation/limits.go
Labels: size/M, storage/blocks, lgtm
