Repository cortexproject/cortex, pull requests merged in 2025-08, with the labels that each got.

#6934 OTLP: Add a AllowDeltaTemporality flag to ingest delta temporality me…
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  integration/e2ecortex/client.go
  integration/otlp_test.go
  pkg/distributor/distributor.go
  pkg/util/push/otlp.go
  pkg/util/push/otlp_test.go
Labels: type/feature, component/distributor, size/L

#6938 Allow parquet converter for memberlist KV
  pkg/cortex/modules.go
Labels: size/XS, component/memberlist, lgtm

#6939 Update roadmap.md
  docs/roadmap.md
Labels: component/documentation, size/XS

#6929 allow queriers to execute from logical query plans
  integration/querier_test.go
  pkg/api/handlers.go
  pkg/api/queryapi/query_api.go
  pkg/api/queryapi/query_api_test.go
  pkg/cortex/cortex.go
  pkg/cortex/modules.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/frontend/config.go
  pkg/querier/querier.go
  pkg/querier/tripperware/instantquery/instant_query.go
  pkg/querier/tripperware/instantquery/instant_query_middlewares_test.go
  pkg/querier/tripperware/queryrange/query_range.go
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
Labels: component/querier, size/XL

#6937 Upgrade parquet common and expose parquet labels cache config
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  go.mod
  go.sum
  pkg/storage/tsdb/config.go
  vendor/github.com/prometheus-community/parquet-common/convert/convert.go
  vendor/github.com/prometheus-community/parquet-common/queryable/parquet_queryable.go
  vendor/github.com/prometheus-community/parquet-common/schema/encoder.go
  vendor/github.com/prometheus-community/parquet-common/schema/schema.go
  vendor/github.com/prometheus-community/parquet-common/schema/schema_builder.go
  vendor/github.com/prometheus-community/parquet-common/search/constraint.go
  vendor/github.com/prometheus-community/parquet-common/search/materialize.go
  vendor/github.com/prometheus-community/parquet-common/storage/parquet_shard.go
  vendor/github.com/prometheus-community/parquet-common/storage/read_at.go
  vendor/modules.txt
Labels: dependencies, size/XL, storage/blocks

#6950 Update weaveworks common to bring channelz monitoring
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  go.mod
  go.sum
  vendor/github.com/go-chi/chi/v5/.gitignore
  vendor/github.com/go-chi/chi/v5/CHANGELOG.md
  vendor/github.com/go-chi/chi/v5/CONTRIBUTING.md
  vendor/github.com/go-chi/chi/v5/LICENSE
  vendor/github.com/go-chi/chi/v5/Makefile
  vendor/github.com/go-chi/chi/v5/README.md
  vendor/github.com/go-chi/chi/v5/chain.go
  vendor/github.com/go-chi/chi/v5/chi.go
  vendor/github.com/go-chi/chi/v5/context.go
  vendor/github.com/go-chi/chi/v5/mux.go
  vendor/github.com/go-chi/chi/v5/tree.go
  vendor/github.com/rantav/go-grpc-channelz/.gitignore
  vendor/github.com/rantav/go-grpc-channelz/LICENSE
  vendor/github.com/rantav/go-grpc-channelz/Makefile
  vendor/github.com/rantav/go-grpc-channelz/README.md
  vendor/github.com/rantav/go-grpc-channelz/channel-page.go
  vendor/github.com/rantav/go-grpc-channelz/channels-page.go
  vendor/github.com/rantav/go-grpc-channelz/channelz.go
  vendor/github.com/rantav/go-grpc-channelz/client.go
  vendor/github.com/rantav/go-grpc-channelz/handler.go
  vendor/github.com/rantav/go-grpc-channelz/routes.go
  vendor/github.com/rantav/go-grpc-channelz/server-page.go
  vendor/github.com/rantav/go-grpc-channelz/servers-page.go
  vendor/github.com/rantav/go-grpc-channelz/socket-page.go
  vendor/github.com/rantav/go-grpc-channelz/sub-channel-page.go
  vendor/github.com/rantav/go-grpc-channelz/templates.go
  vendor/github.com/rantav/go-grpc-channelz/top-channels-page.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/google.golang.org/grpc/channelz/grpc_channelz_v1/channelz.pb.go
  vendor/google.golang.org/grpc/channelz/grpc_channelz_v1/channelz_grpc.pb.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/channel.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/server.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/socket.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/sockopt_linux.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/sockopt_nonlinux.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/subchannel.go
  vendor/google.golang.org/grpc/channelz/internal/protoconv/util.go
  vendor/google.golang.org/grpc/channelz/service/service.go
  vendor/modules.txt
Labels: type/observability, size/S, lgtm

#6955 Update parquet common library to latest
  go.mod
  go.sum
  pkg/querier/parquet_queryable_test.go
  vendor/github.com/prometheus-community/parquet-common/search/constraint.go
  vendor/github.com/prometheus-community/parquet-common/search/materialize.go
  vendor/github.com/prometheus-community/parquet-common/util/bitmap.go
  vendor/modules.txt
Labels: dependencies, size/XS, lgtm

#6956 chore: Embed promql.QueryEngine interface
  pkg/engine/engine.go
Labels: size/XS, lgtm

#6960 Add Twilio to list of adopters
  ADOPTERS.md
Labels: component/documentation, size/XS, lgtm

#6945 Add tsdb metrics to track unknown series references during wal/wbl re…
  CHANGELOG.md
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
Labels: component/ingester, size/M

#6962 Extend block finder get blocks interface with matchers
  pkg/querier/blocks_finder_bucket_index.go
  pkg/querier/blocks_finder_bucket_index_test.go
  pkg/querier/blocks_finder_bucket_scan.go
  pkg/querier/blocks_finder_bucket_scan_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/parquet_queryable.go
  pkg/querier/parquet_queryable_test.go
Labels: component/querier, size/L, lgtm

#6967 Add integration_remote_write_v2 to build-tags
  .golangci.yml
  Makefile
Labels: size/XS, component/build

#6969 Add enable type and unit labels flag
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  integration/e2ecortex/client.go
  integration/otlp_test.go
  pkg/distributor/distributor.go
  pkg/util/push/otlp.go
  pkg/util/push/otlp_test.go
Labels: component/distributor, size/L

#6972 Log engine type and block store headers in query stats
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: size/S, component/query-frontend

#6970 Chore: update build image to use Go 1.24.6
  build-image/Dockerfile
Labels: type/security, size/XS, component/build, go, lgtm

#6992 Fix error from resource based throttling to be retryable
  pkg/querier/blocks_store_queryable_test.go
  pkg/util/limiter/resource_based_limiter.go
  pkg/util/limiter/resource_based_limiter_test.go
Labels: component/querier, size/M

#6990 Add parse query op label to queries total metric
  CHANGELOG.md
  pkg/querier/tripperware/roundtrip.go
  pkg/querier/tripperware/roundtrip_test.go
Labels: size/S, component/query-frontend, lgtm

#6988 Update parquet common to latest main to pull sort series fix
  go.mod
  go.sum
  pkg/querier/parquet_queryable.go
  pkg/querier/parquet_queryable_test.go
  vendor/github.com/prometheus-community/parquet-common/convert/convert.go
  vendor/github.com/prometheus-community/parquet-common/queryable/parquet_queryable.go
  vendor/github.com/prometheus-community/parquet-common/schema/schema.go
  vendor/github.com/prometheus-community/parquet-common/schema/schema_builder.go
  vendor/github.com/prometheus-community/parquet-common/search/constraint.go
  vendor/github.com/prometheus-community/parquet-common/search/iterators.go
  vendor/github.com/prometheus-community/parquet-common/search/materialize.go
  vendor/github.com/prometheus-community/parquet-common/storage/parquet_shard.go
  vendor/github.com/prometheus-community/parquet-common/util/fixtures.go
  vendor/modules.txt
Labels: dependencies, size/M, lgtm

#6949 query rejection blog post improvement
  website/content/en/blog/2025/query-rejection.md
Labels: component/documentation, size/M

#7000 remove limiting query rejection to only adhoc queries for ingester. T…
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/S
