Repository cortexproject/cortex, pull requests merged in 2025-01, with the labels that each got.

#6472 Enable analysis on Thanos PromQL engine
  pkg/cortex/modules.go
  pkg/querier/querier.go
Labels: component/querier, size/XS

#6474 Fix flaky fuzz tests with count_values
  integration/query_fuzz_test.go
Labels: type/flaky-test, size/M

#6200 docs:Add support rule evaluation via query frontend docs
  docs/guides/rule-evaluations-via-query-frontend.md
Labels: size/M, lgtm

#6473 Update RELEASE.md
  RELEASE.md
Labels: size/XS, lgtm

#6476 remove multiple dots in redis flags
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/storage/tsdb/redis_client_config.go
Labels: size/M, lgtm

#6482 Update thanos version to latest main
  go.mod
  go.sum
  vendor/github.com/thanos-io/thanos/pkg/block/indexheader/binary_reader.go
  vendor/github.com/thanos-io/thanos/pkg/block/indexheader/lazy_binary_reader.go
  vendor/github.com/thanos-io/thanos/pkg/cacheutil/memcached_client.go
  vendor/github.com/thanos-io/thanos/pkg/cacheutil/memcached_server_selector.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/cache/matchers_cache.go
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/github.com/thanos-io/thanos/pkg/store/local.go
  vendor/github.com/thanos-io/thanos/pkg/store/prometheus.go
  vendor/github.com/thanos-io/thanos/pkg/store/proxy.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/custom.go
  vendor/github.com/thanos-io/thanos/pkg/store/tsdb.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Labels: dependencies, size/XS, lgtm

#6479 kv/etcd: Fix race condition within unit test for Watch method
  pkg/ring/kv/etcd/mock_test.go
Labels: type/bug, size/M, dependency/etcd

#6475 Update roadmap.md
  docs/roadmap.md
Labels: component/documentation, size/M, lgtm

#6456 Support exemplar federated query
  CHANGELOG.md
  pkg/cortex/modules.go
  pkg/querier/tenantfederation/exemplar_merge_queryable.go
  pkg/querier/tenantfederation/exemplar_merge_queryable_test.go
Labels: component/querier, size/XL, lgtm

#6477 Implement matchers cache on Ingester
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  integration/query_fuzz_test.go
  pkg/distributor/distributor_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/client/compat_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/lifecycle_test.go
  pkg/ingester/metrics.go
  pkg/querier/remote_read.go
Labels: component/ingester, size/L

#6463 Added UserReplicaGroupMetrics
  pkg/ha/ha_tracker.go
  pkg/ha/ha_tracker_test.go
Labels: size/M, component/ha-tracker

#6446 refactor bucket client to pass config directly
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/gcs/bucket_client.go
  pkg/storage/bucket/swift/bucket_client.go
Labels: size/M, backend/swift, azure, lgtm

#6490 Update Thanos
  go.mod
  go.sum
  pkg/distributor/distributor_test.go
  pkg/ingester/client/compat.go
  pkg/ingester/client/compat_test.go
  pkg/ingester/client/custom.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/remote_read.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/cache/matchers_cache.go
  vendor/github.com/thanos-io/thanos/pkg/store/local.go
  vendor/github.com/thanos-io/thanos/pkg/store/prometheus.go
  vendor/github.com/thanos-io/thanos/pkg/store/proxy.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/custom.go
  vendor/github.com/thanos-io/thanos/pkg/store/tsdb.go
  vendor/modules.txt
Labels: dependencies, size/M, go

#6491 Implement regex matcher cache on Store gateway:
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/storage/tsdb/config.go
  pkg/storage/tsdb/matchers_cache_metrics.go
  pkg/storegateway/bucket_stores.go
  pkg/util/matchers.go
Labels: size/L, component/store-gateway

#6494 Retry 3 times before failing docker command
  push-images
Labels: size/M

#6492 discarded samples per labelset metrics for throttle by labelset
  pkg/distributor/distributor.go
  pkg/distributor/metrics.go
  pkg/distributor/metrics_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/labelset/tracker.go
  pkg/util/labelset/tracker_test.go
  pkg/util/validation/validate.go
  pkg/util/validation/validate_test.go
Labels: component/distributor, size/XXL, lgtm

#6497 Update thanos-io/promql-engine to 2414c3d2ab47
  go.mod
  go.sum
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/hashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/function/relabel.go
  vendor/modules.txt
Labels: dependencies, size/XS, go

#6498 Use new build image
  .github/workflows/test-build-deploy.yml
  Makefile
Labels: size/S, component/build, lgtm

#6501 Update thanos-io/promql-engine to 14f995518af3
  go.mod
  go.sum
  vendor/github.com/thanos-io/promql-engine/engine/engine.go
  vendor/github.com/thanos-io/promql-engine/engine/explain.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/count_values.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/hashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/khashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/binary/scalar.go
  vendor/github.com/thanos-io/promql-engine/execution/binary/vector.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/coalesce.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/concurrent.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/dedup.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/duplicate_label.go
  vendor/github.com/thanos-io/promql-engine/execution/function/absent.go
  vendor/github.com/thanos-io/promql-engine/execution/function/histogram.go
  vendor/github.com/thanos-io/promql-engine/execution/function/noarg.go
  vendor/github.com/thanos-io/promql-engine/execution/function/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/function/relabel.go
  vendor/github.com/thanos-io/promql-engine/execution/function/scalar.go
  vendor/github.com/thanos-io/promql-engine/execution/function/timestamp.go
  vendor/github.com/thanos-io/promql-engine/execution/model/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/remote/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/scan/literal_selector.go
  vendor/github.com/thanos-io/promql-engine/execution/scan/subquery.go
  vendor/github.com/thanos-io/promql-engine/execution/step_invariant/step_invariant.go
  vendor/github.com/thanos-io/promql-engine/execution/telemetry/telemetry.go
  vendor/github.com/thanos-io/promql-engine/execution/unary/unary.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/matrix_selector.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/vector_selector.go
  vendor/modules.txt
Labels: dependencies, size/XS

#6470 Add source label to query stats metrics
  CHANGELOG.md
  integration/ruler_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/querier/tripperware/roundtrip.go
Labels: component/rules, size/M, component/query-frontend, lgtm

#6502 Purge expired postings cache items due inactivity
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/storage/tsdb/config.go
  pkg/storage/tsdb/expanded_postings_cache.go
Labels: component/ingester, size/M

#6503 Update thanos to 4ba0ba403896
  go.mod
  go.sum
  vendor/github.com/thanos-io/thanos/pkg/cacheutil/async_op.go
  vendor/modules.txt
Labels: dependencies, size/XS, lgtm

#6506 calculate # of concurrency only once at the runner
  pkg/util/concurrency/runner.go
Labels: size/XS, lgtm

#6469 Implement partition compaction planner
  docs/blocks-storage/compactor.md
  docs/configuration/config-file-reference.md
  pkg/compactor/compactor.go
  pkg/compactor/compactor_metrics.go
  pkg/compactor/compactor_metrics_test.go
  pkg/compactor/partition_compaction_planner.go
  pkg/compactor/partition_compaction_planner_test.go
Labels: size/XL, component/compactor

#6507 Add cleaner logic to clean partition compaction blocks and related files
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/compactor/partitioned_group_info.go
Labels: size/L, component/compactor

#6511 Update RELEASE.md
  RELEASE.md
Labels: size/XS, lgtm

#6514 Update thanos version to main
  go.mod
  go.sum
  pkg/storegateway/bucket_stores.go
  vendor/github.com/thanos-io/thanos/pkg/discovery/dns/grpc.go
  vendor/github.com/thanos-io/thanos/pkg/errutil/multierror.go
  vendor/github.com/thanos-io/thanos/pkg/extkingpin/flags.go
  vendor/github.com/thanos-io/thanos/pkg/extkingpin/path_content_reloader.go
  vendor/github.com/thanos-io/thanos/pkg/query/endpointset.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/modules.txt
Labels: dependencies, size/XS, lgtm

#6518 Fix race that can cause nil reference when using expanded postings
  pkg/ingester/ingester.go
Labels: type/bug, component/ingester, size/XS

#6519 Add more op label values to cortex_query_frontend_queries_total metric
  CHANGELOG.md
  pkg/querier/tripperware/roundtrip.go
  pkg/querier/tripperware/roundtrip_test.go
Labels: size/M, component/query-frontend

#6522 Allow use of non-dualstack endpoints for S3 blocks storage
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/bucket/s3/config_test.go
Labels: size/M, storage/blocks, backend/s3

#6523 Expose grpc client connect timeout config and default to 5s
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/util/grpcclient/grpcclient.go
Labels: size/M, lgtm

#6521 Test for nil on expire expanded postings
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/M

#6525 log when a request starts running in querier
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
Labels: component/querier, size/XS

#6508 Update build image according to 03a8f8c9807e666b606a07bd2c5f4e29e18b0428
  .github/workflows/test-build-deploy.yml
  Makefile
Labels: size/S, component/build

#6529 Deprecate -blocks-storage.tsdb.wal-compression-enabled flag
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/storage/tsdb/config.go
Labels: size/S, storage/blocks, lgtm

#6537 Fix TestIngester_UpdateLabelSetMetrics test
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/XS, lgtm

#6534 Mark 1.19 release in progress
  CHANGELOG.md
Labels: size/XS

#6538 Prepare 1.19.0-rc.0
  CHANGELOG.md
  VERSION
Labels: size/M

#6541 Prepare 1.19.0-rc.0
  CHANGELOG.md
  VERSION
Labels: size/M

#6542 Revert "Prepare 1.19.0-rc.0"
  CHANGELOG.md
  VERSION
Labels: size/M

#6547 Fixed blocksGroupWithPartition unable to reuse functions from blocksGroup
  pkg/compactor/partition_compaction_grouper.go
  pkg/compactor/partition_compaction_grouper_test.go
Labels: size/L, component/compactor

#6543 Remove TransferChunks gRPC method
  pkg/cortex/cortex.go
Labels: size/XS, storage/chunks

#6550 Prepare release 1.19.0-rc.1
  VERSION
  pkg/compactor/partition_compaction_grouper.go
  pkg/compactor/partition_compaction_grouper_test.go
Labels: size/L, component/compactor

#6557 Update Promqlsmith
  go.mod
  go.sum
  vendor/github.com/cortexproject/promqlsmith/walk.go
  vendor/modules.txt
Labels: dependencies, size/XS, go

#6526 Query Partial Data
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/cortex/modules.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/query.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/lazyquery/lazyquery.go
  pkg/querier/partialdata/partia_data.go
  pkg/querier/partialdata/partial_data_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/testutils.go
  pkg/querier/tripperware/queryrange/results_cache.go
  pkg/querier/tripperware/queryrange/results_cache_test.go
  pkg/ring/replication_set.go
  pkg/ring/replication_set_test.go
  pkg/ring/replication_set_tracker.go
  pkg/ring/replication_set_tracker_test.go
  pkg/ruler/ruler_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: type/feature, component/querier, size/XL, lgtm

#6561 Cherry pick 5921 and release v1.17.2
  .github/workflows-doc.md
  .github/workflows/test-build-deploy.yml
  CHANGELOG.md
  VERSION
  pkg/ring/http.go
Labels: size/S, component/ring, lgtm

#6544 Add timeout for dynamodb ring kv
  docs/blocks-storage/compactor.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/ring/kv/dynamodb/client.go
  pkg/ring/kv/dynamodb/client_test.go
  pkg/ring/kv/dynamodb/dynamodb.go
Labels: size/L, backend/dynamodb, lgtm

#6562 Fix: expanded postings can cache wrong data when queries are issued "in the future"
  integration/query_fuzz_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/storage/tsdb/expanded_postings_cache.go
Labels: component/ingester, size/L

#6517 Extend ShuffleSharding on READONLY ingesters
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ring/lifecycler.go
  pkg/ring/lifecycler_test.go
  pkg/ring/model.go
  pkg/ring/model_test.go
  pkg/ring/ring.go
  pkg/ring/ring_test.go
Labels: size/L, component/ring
