Repository cortexproject/cortex, pull requests merged in 2025-02, with the labels that each got.

#6569 Add a too_many_tenants label to cortex_rejected_queries_total metric
  CHANGELOG.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: size/S, component/query-frontend

#6571 Update thanos latest main
  go.mod
  go.sum
  vendor/github.com/cortexproject/promqlsmith/walk.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/github.com/thanos-io/thanos/pkg/store/lazy_postings.go
  vendor/modules.txt
Labels: dependencies, size/S, lgtm

#6567 Prepare release 1.19 rc.2
  VERSION
  integration/query_fuzz_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/storage/tsdb/expanded_postings_cache.go
Labels: size/L

#6568 Apply bytes limiter to LabelNames and LabelValuesForLabelNames
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/querier/blocks_store_queryable.go
Labels: component/distributor, size/M

#6565 Return error on the getTSDB function when user is not found.
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/L, lgtm

#6573 Fix labelset race condition
  CHANGELOG.md
  pkg/ingester/user_state.go
Labels: size/XS, lgtm

#6549 Flaky rules test fix
  pkg/ruler/api_test.go
Labels: type/flaky-test, component/rules, size/L, lgtm

#6570 Emit more histogram buckets for cortex-querier_storegateway_refetches…
  CHANGELOG.md
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Labels: component/querier, size/S, lgtm

#6576 Cleaner should not put deletion marker for blocks with no-compact marker
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/partitioned_group_info.go
Labels: size/S, component/compactor

#6577 Cleaner would delete bucket index when there is no block in bucket store
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor_paritioning_test.go
  pkg/compactor/compactor_test.go
  pkg/storage/tsdb/bucketindex/index.go
Labels: size/L, storage/blocks, component/compactor

#6584 update ubuntu action runners
  .github/workflows/test-build-deploy.yml
Labels: size/S, ci/cd, lgtm

#6563 Add compactor auto-forget from ring on unhealthy
  CHANGELOG.md
  docs/blocks-storage/compactor.md
  docs/configuration/config-file-reference.md
  pkg/compactor/compactor.go
  pkg/compactor/compactor_ring.go
  pkg/compactor/compactor_test.go
  pkg/ring/basic_lifecycler_delegates.go
  pkg/ring/lifecycler.go
  pkg/ring/lifecycler_delegates.go
  pkg/ring/ring.go
Labels: size/L, component/ring, component/compactor

#6458 Dynamic splitting by interval for range queries
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  pkg/frontend/transport/handler.go
  pkg/querier/stats/stats.go
  pkg/querier/tripperware/queryrange/limits_test.go
  pkg/querier/tripperware/queryrange/query_range_middlewares.go
  pkg/querier/tripperware/queryrange/split_by_interval.go
  pkg/querier/tripperware/queryrange/split_by_interval_test.go
  pkg/util/time.go
Labels: component/querier, size/XXL

#6586 [Vote] add dsabsay as triager
  MAINTAINERS.md
Labels: size/XS, Vote, lgtm

#6592 Add dynamic interval cache splitter
  pkg/querier/tripperware/queryrange/query_range_middlewares.go
  pkg/querier/tripperware/queryrange/results_cache.go
  pkg/querier/tripperware/queryrange/results_cache_test.go
Labels: component/querier, size/M

#6595 fix native histogram empty bucket marshal panic
  CHANGELOG.md
  pkg/querier/codec/protobuf_codec.go
  pkg/querier/codec/protobuf_codec_test.go
Labels: component/querier, size/L, lgtm

#6535 sort ingesters when generating token lookup table fix #6513
  pkg/ring/model.go
Labels: size/XS, component/ring, lgtm

#6591 retrieve peakSamples and processedSamples query stats from results_cache
  CHANGELOG.md
  integration/query_frontend_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
  pkg/querier/tripperware/queryrange/results_cache.go
  pkg/querier/tripperware/queryrange/results_cache_test.go
Labels: size/L, component/query-frontend

#6597 Avoid liveness check seg-fault in 'New' state
  pkg/ruler/ruler.go
Labels: type/bug, component/rules, size/XS, lgtm

#6603 Set default conn timeout of 5 sec for storeGateway and alertmanager clients
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/configuration/config-file-reference.md
  pkg/alertmanager/alertmanager_client.go
  pkg/querier/store_gateway_client.go
Labels: size/S, component/alertmanager, component/store-gateway

#6604 Cleaner should remove debug and partitioned-groups directories if bucket store is empty for the tenant
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
Labels: size/M, component/compactor

#6610 Add more fields to query request log in query frontend
  pkg/frontend/transport/handler.go
Labels: size/S, component/query-frontend

#6605 Add for tenant silences limit
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/alertmanager/alertmanager.go
  pkg/alertmanager/alertmanager_test.go
  pkg/alertmanager/multitenant.go
  pkg/alertmanager/multitenant_test.go
  pkg/util/validation/limits.go
Labels: size/L, component/alertmanager, lgtm

#6608 Fix: split interval function should return 4xx
  pkg/querier/tripperware/queryrange/split_by_interval.go
Labels: type/bug, component/querier, size/XS

#6606 Add receiver validation for msteamsv2 and rocketchat
  CHANGELOG.md
  pkg/alertmanager/api.go
  pkg/alertmanager/api_test.go
Labels: size/L, component/alertmanager, lgtm

#6612 Publish release 1.19.0
  VERSION
  docs/getting-started/.env
Labels: size/XS, lgtm

#6614 Merge release 1.19 to master
  VERSION
  docs/getting-started/.env
Labels: size/XS, lgtm

#6615 Update backward_compatibility_test.go
  CHANGELOG.md
  integration/backward_compatibility_test.go
Labels: size/XS

#6617 Support otlp metadata ingestion
  CHANGELOG.md
  integration/e2ecortex/client.go
  integration/otlp_test.go
  pkg/util/push/otlp.go
  pkg/util/push/otlp_test.go
Labels: size/M
