Repository cortexproject/cortex, pull requests merged in 2025-03, with the labels that each got.

#6621 Upgrade promql engine to pull fix for performance regression
  go.mod
  go.sum
  vendor/github.com/thanos-io/promql-engine/execution/execution.go
  vendor/github.com/thanos-io/promql-engine/execution/scan/subquery.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/functions.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/generic.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/rate.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/matrix_selector.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/scanners.go
  vendor/modules.txt
Labels: type/performance, size/XS, go, lgtm

#6619 Pass limit to merge serieset for labels API
  pkg/ingester/ingester.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
Labels: size/S, lgtm

#6623 Add skip std aggregations flag
  integration/query_fuzz_test.go
Labels: size/M

#6616 Add check to avoid query 5xx when closing tsdb
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/L

#6589 Fix flaky ring consistency test
  pkg/ring/ring_test.go
Labels: type/flaky-test, size/XS, component/ring, lgtm

#6504 Add -frontend.enabled-ruler-query-stats flag
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/handler_test.go
Labels: size/M, component/query-frontend

#6628 Add tokenFile and persisit on ring features for AM ring
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/alertmanager/alertmanager_ring.go
  pkg/alertmanager/multitenant.go
Labels: size/M, component/alertmanager

#6632 Change latest prometheus image (v3.2.1) in fuzz test
  integration/query_fuzz_test.go
Labels: size/XS, type/tests

#6626 Add ooo native histogram ingestion
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  integration/native_histogram_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: component/ingester, size/L

#6636 update go to 1.24
  build-image/Dockerfile
Labels: size/XS, go

#6601 Fix querier panic when marshaling QueryResultRequest
  CHANGELOG.md
  pkg/querier/stats/stats.go
  pkg/querier/stats/stats_test.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
Labels: component/querier, size/L, lgtm

#6639 bump golangci-lint version
  build-image/Dockerfile
Labels: size/XS, component/build, lgtm

#6640 remove redundant if else block in `ruler_test.go`
  pkg/ruler/ruler_test.go
Labels: component/rules, size/XS, lgtm

#6641 bumps faillint version to 1.15 to support go 1.24
  build-image/Dockerfile
Labels: size/XS, component/build

#6637 Update workflows to use the latest image with go 1.24.0
  .github/workflows/test-build-deploy.yml
  Makefile
  go.mod
  pkg/distributor/distributor.go
  pkg/frontend/transport/handler.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/tripperware/instantquery/instant_query.go
  pkg/querier/tripperware/instantquery/limits.go
  pkg/querier/tripperware/instantquery/limits_test.go
  pkg/querier/tripperware/query_attribute_matcher.go
  pkg/querier/tripperware/queryrange/limits.go
  pkg/querier/tripperware/queryrange/limits_test.go
  pkg/querier/tripperware/queryrange/query_range.go
  pkg/querier/tripperware/queryrange/results_cache.go
  pkg/querier/tripperware/queryrange/split_by_interval.go
  pkg/querier/tripperware/roundtrip.go
  pkg/querier/tripperware/shard_by.go
  pkg/querier/tripperware/util.go
  pkg/storegateway/limiter.go
Labels: size/M, ci/cd, lgtm

#6644 Upgrade alertmanager version to v0.28.1
  go.mod
  go.sum
  vendor/github.com/prometheus/alertmanager/config/config.go
  vendor/github.com/prometheus/alertmanager/config/coordinator.go
  vendor/github.com/prometheus/alertmanager/config/notifiers.go
  vendor/github.com/prometheus/alertmanager/inhibit/inhibit.go
  vendor/github.com/prometheus/alertmanager/notify/jira/jira.go
  vendor/github.com/prometheus/alertmanager/notify/msteamsv2/msteamsv2.go
  vendor/github.com/prometheus/alertmanager/notify/opsgenie/api_key_file
  vendor/github.com/prometheus/alertmanager/notify/opsgenie/opsgenie.go
  vendor/github.com/prometheus/alertmanager/notify/rocketchat/rocketchat.go
  vendor/github.com/prometheus/alertmanager/notify/util.go
  vendor/github.com/prometheus/alertmanager/ui/Dockerfile
  vendor/github.com/prometheus/common/sigv4/LICENSE
  vendor/github.com/prometheus/common/sigv4/Makefile
  vendor/github.com/prometheus/common/sigv4/sigv4.go
  vendor/github.com/prometheus/common/sigv4/sigv4_config.go
  vendor/modules.txt
Labels: size/XS, component/alertmanager

#6642 Keep readonly state when stopping lifecycler
  CHANGELOG.md
  pkg/ring/lifecycler.go
  pkg/ring/lifecycler_test.go
Labels: size/L, component/ring, lgtm

#6649 Fix ingester test label order
  pkg/ingester/ingester_test.go
Labels: component/ingester, size/XS, lgtm

#6635 Add docs for native histogram
  docs/guides/native-histograms.md
Labels: component/documentation, size/M, lgtm

#6650 Fix Alertmanager ApplyConfig func error handling
  pkg/alertmanager/alertmanager.go
Labels: type/bug, size/XS, component/alertmanager

#6654 Add native histogram query fuzz test
  integration/e2e/images/images.go
  integration/e2e/util.go
  integration/query_fuzz_test.go
Labels: size/L, type/tests

#6657 Replace `golang.org/x/exp/slices` with stdlib `slices`
  go.mod
  pkg/compactor/sharded_block_populator.go
  pkg/ring/lifecycler_test.go
  pkg/storage/tsdb/multilevel_cache.go
  pkg/storage/tsdb/users_scanner_test.go
Labels: size/S, go

#6663 Make ooo native histograms ingestion automatically enabled
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  docs/guides/native-histograms.md
  integration/native_histogram_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: component/ingester, size/L, lgtm

#6659 Add nflog and silences metrics
  CHANGELOG.md
  pkg/alertmanager/alertmanager_metrics.go
  pkg/alertmanager/alertmanager_metrics_test.go
Labels: size/L, component/alertmanager

#6607 Enforce query response size limit after decompression in query-frontend
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  integration/query_frontend_test.go
  pkg/frontend/transport/handler.go
  pkg/frontend/transport/retry.go
  pkg/querier/tripperware/instantquery/instant_query.go
  pkg/querier/tripperware/instantquery/instant_query_test.go
  pkg/querier/tripperware/limits.go
  pkg/querier/tripperware/query.go
  pkg/querier/tripperware/query_test.go
  pkg/querier/tripperware/queryrange/limits_test.go
  pkg/querier/tripperware/queryrange/query_range.go
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
  pkg/querier/tripperware/queryrange/query_range_test.go
  pkg/querier/tripperware/roundtrip.go
  pkg/querier/tripperware/test_shard_by_query_utils.go
  pkg/util/limiter/response_size_limiter.go
  pkg/util/limiter/response_size_limiter_test.go
  pkg/util/validation/limits.go
Labels: size/L, component/query-frontend

#6512 Create guide doc for partition compaction
  docs/guides/partitioning-compactor.md
Labels: component/documentation, size/M

#6669 Getting started with Perses
  docs/getting-started/.env
  docs/getting-started/_index.md
  docs/getting-started/cortex-config.yaml
  docs/getting-started/docker-compose.yaml
  docs/getting-started/perses/config.yaml
  docs/getting-started/perses/dashboards/cortex-writes.yaml
  docs/getting-started/perses/datasource.yaml
  docs/getting-started/perses/project.yaml
  docs/getting-started/seaweedfs-init.sh
Labels: component/documentation, size/XL, lgtm

#6662 Added a link to the Dash0 OTEL collector config
  docs/guides/tracing.md
Labels: component/documentation, size/XS, lgtm
