Repository cortexproject/cortex, pull requests merged in 2025-06, with the labels that each got.

#6777 Querier: Allow switching between engines via header
  CHANGELOG.md
  docs/api/_index.md
  pkg/api/queryapi/query_api.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/querier/engine_factory.go
  pkg/querier/engine_factory_test.go
  pkg/querier/querier.go
  vendor/github.com/prometheus/prometheus/promql/promqltest/README.md
  vendor/github.com/prometheus/prometheus/promql/promqltest/test.go
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/aggregators.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/at_modifier.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/collision.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/functions.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/histograms.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/limit.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/literals.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/name_label_dropping.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/native_histograms.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/operators.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/range_queries.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/selectors.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/staleness.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/subquery.test
  vendor/github.com/prometheus/prometheus/promql/promqltest/testdata/trig_functions.test
  vendor/github.com/prometheus/prometheus/util/teststorage/storage.go
  vendor/modules.txt
Labels: component/querier, size/L

#6786 Skip corrupt blocks on shipper
  CHANGELOG.md
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
  pkg/ingester/metrics_test.go
  vendor/github.com/thanos-io/thanos/pkg/shipper/shipper.go
  vendor/modules.txt
Labels: component/ingester, size/M

#6778 Support caching bucket for cleaner
  CHANGELOG.md
  docs/blocks-storage/compactor.md
  docs/configuration/config-file-reference.md
  pkg/compactor/compactor.go
  pkg/storage/tsdb/caching_bucket.go
Labels: size/M, component/compactor

#6785 Ruler: Prevent counting 2xx responses as failed writes
  CHANGELOG.md
  pkg/ruler/compat.go
Labels: component/rules, size/XS

#6782 ResourceMonitor: Change configs
  docs/configuration/config-file-reference.md
  integration/resource_based_limiter_test.go
  pkg/configs/resource_monitor.go
  pkg/cortex/cortex.go
  pkg/cortex/cortex_test.go
  pkg/cortex/modules.go
  pkg/cortex/modules_test.go
  pkg/util/resource/monitor.go
  pkg/util/resource/monitor_test.go
Labels: size/L

#6780 Refactor block storage User Scanner and introduce user index file
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  docs/guides/limitations.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/compactor/compactor_paritioning_test.go
  pkg/compactor/compactor_test.go
  pkg/cortex/cortex_test.go
  pkg/parquetconverter/converter.go
  pkg/parquetconverter/converter_test.go
  pkg/querier/blocks_finder_bucket_scan.go
  pkg/querier/blocks_finder_bucket_scan_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/storage/tsdb/config.go
  pkg/storage/tsdb/users/cache.go
  pkg/storage/tsdb/users/cache_test.go
  pkg/storage/tsdb/users/index.go
  pkg/storage/tsdb/users/index_test.go
  pkg/storage/tsdb/users/scanner.go
  pkg/storage/tsdb/users/scanner_test.go
  pkg/storage/tsdb/users/updater.go
  pkg/storage/tsdb/users/updater_test.go
  pkg/storage/tsdb/users_scanner.go
  pkg/storage/tsdb/users_scanner_config.go
  pkg/storage/tsdb/users_scanner_config_test.go
  pkg/storage/tsdb/users_scanner_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/gateway_test.go
  pkg/tenant/tenant.go
  pkg/tenant/tenant_test.go
  tools/thanosconvert/thanosconvert.go
Labels: size/XXL, storage/blocks, component/compactor, lgtm

#6792 allow override parquet queryable block store via header
  pkg/api/queryapi/query_api.go
  pkg/querier/parquet_queryable.go
  pkg/querier/parquet_queryable_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: component/querier, size/L, lgtm

#6795 Fixed nil pointer error from PushStream in ingester when Push return nil response with an error
  integration/ingester_stream_push_test.go
  pkg/ingester/ingester.go
Labels: type/bug, component/ingester, size/M

#6798 go.mod: upgrade thanos-io/promql-engine
  go.mod
  go.sum
  vendor/github.com/prometheus/common/config/headers.go
  vendor/github.com/prometheus/common/promslog/slog.go
  vendor/github.com/thanos-io/promql-engine/engine/engine.go
  vendor/github.com/thanos-io/promql-engine/engine/sort.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/accumulator.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/count_values.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/hashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/khashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/binary/scalar.go
  vendor/github.com/thanos-io/promql-engine/execution/binary/vector.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/coalesce.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/concurrent.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/dedup.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/duplicate_label.go
  vendor/github.com/thanos-io/promql-engine/execution/function/absent.go
  vendor/github.com/thanos-io/promql-engine/execution/function/histogram.go
  vendor/github.com/thanos-io/promql-engine/execution/function/noarg.go
  vendor/github.com/thanos-io/promql-engine/execution/function/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/function/relabel.go
  vendor/github.com/thanos-io/promql-engine/execution/function/scalar.go
  vendor/github.com/thanos-io/promql-engine/execution/function/timestamp.go
  vendor/github.com/thanos-io/promql-engine/execution/remote/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/scan/literal_selector.go
  vendor/github.com/thanos-io/promql-engine/execution/scan/subquery.go
  vendor/github.com/thanos-io/promql-engine/execution/step_invariant/step_invariant.go
  vendor/github.com/thanos-io/promql-engine/execution/telemetry/telemetry.go
  vendor/github.com/thanos-io/promql-engine/execution/unary/unary.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/functions.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/generic.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/rate.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/matrix_selector.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/vector_selector.go
  vendor/modules.txt
Labels: dependencies, size/XS, go

#6802 Disable topk and bottomk aggregation in query fuzz test
  integration/query_fuzz_test.go
Labels: type/flaky-test, size/S, lgtm

#6806 Improving logs and adding some spans on the parquet queryable
  pkg/querier/parquet_queryable.go
Labels: component/querier, type/observability, size/S

#6810 Upgrade thanos promql engine to pull binary join and fix
  go.mod
  go.sum
  vendor/github.com/thanos-io/promql-engine/engine/engine.go
  vendor/github.com/thanos-io/promql-engine/engine/explain.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/count_values.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/hashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/khashaggregate.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/scalar_table.go
  vendor/github.com/thanos-io/promql-engine/execution/aggregate/vector_table.go
  vendor/github.com/thanos-io/promql-engine/execution/binary/vector.go
  vendor/github.com/thanos-io/promql-engine/execution/exchange/coalesce.go
  vendor/github.com/thanos-io/promql-engine/execution/function/operator.go
  vendor/github.com/thanos-io/promql-engine/execution/model/vector.go
  vendor/github.com/thanos-io/promql-engine/logicalplan/merge_selects.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/functions.go
  vendor/github.com/thanos-io/promql-engine/ringbuffer/rate.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/scanners.go
  vendor/github.com/thanos-io/promql-engine/storage/prometheus/series_selector.go
  vendor/github.com/zhangyunhao116/umap/.gitignore
  vendor/github.com/zhangyunhao116/umap/LICENSE
  vendor/github.com/zhangyunhao116/umap/bithack.go
  vendor/github.com/zhangyunhao116/umap/hash.go
  vendor/github.com/zhangyunhao116/umap/map.go
  vendor/github.com/zhangyunhao116/umap/readme.md
  vendor/github.com/zhangyunhao116/umap/util.go
  vendor/modules.txt
Labels: dependencies, size/XS, go, lgtm

#6812 chore: fix typo at parquet converter
  pkg/parquetconverter/converter.go
Labels: type/chore, size/XS

#6739 ci: Upgrade golangci-linter to v2
  .errcheck-exclude
  .github/workflows/test-build-deploy.yml
  .golangci.yml
  Makefile
  integration/e2e/service.go
  integration/e2ecortex/services.go
  integration/querier_tenant_federation_test.go
  integration/querier_test.go
  integration/query_fuzz_test.go
  pkg/alertmanager/api.go
  pkg/alertmanager/multitenant_test.go
  pkg/alertmanager/rate_limited_notifier_test.go
  pkg/alertmanager/state_persister_test.go
  pkg/alertmanager/state_replication.go
  pkg/chunk/cache/memcached_client.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/cleaner_visit_marker.go
  pkg/compactor/partition_compaction_grouper.go
  pkg/compactor/shuffle_sharding_grouper.go
  pkg/configs/client/client.go
  pkg/configs/db/dbtest/integration.go
  pkg/configs/db/postgres/postgres.go
  pkg/distributor/distributor_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/blocks_store_queryable.go
  pkg/querier/blocks_store_queryable_test.go
  pkg/querier/distributor_queryable.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/querier.go
  pkg/querier/tenantfederation/exemplar_merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/tenantfederation/metadata_merge_querier.go
  pkg/querier/tripperware/query_attribute_matcher.go
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
  pkg/querier/tripperware/queryrange/results_cache.go
  pkg/ring/kv/consul/client.go
  pkg/ring/kv/memberlist/memberlist_client_test.go
  pkg/ring/kv/memberlist/memberlist_logger.go
  pkg/ring/lifecycler.go
  pkg/ring/util.go
  pkg/ruler/frontend_client.go
  pkg/ruler/ruler_test.go
  pkg/scheduler/scheduler.go
  pkg/storage/tsdb/bucketindex/storage_test.go
  pkg/storage/tsdb/caching_bucket.go
  pkg/storage/tsdb/index_cache.go
  pkg/storegateway/bucket_stores.go
  pkg/testexporter/correctness/time_flag.go
  pkg/util/extract/extract.go
  pkg/util/net.go
  pkg/util/priority_queue.go
  pkg/util/spanlogger/spanlogger.go
  pkg/util/test/poll.go
  pkg/util/validation/limits.go
  tools/doc-generator/writer.go
Labels: size/L, go, lgtm

#6815 Optimize cleaner run time
  CHANGELOG.md
  pkg/compactor/blocks_cleaner.go
  pkg/storage/bucket/bucket_util.go
  pkg/storage/bucket/bucket_util_test.go
Labels: type/performance, size/L, component/compactor

#6821 Add parquet convert failure, block delay and total block to convert metrics
  CHANGELOG.md
  integration/parquet_querier_test.go
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/compactor/compactor.go
  pkg/parquetconverter/converter.go
  pkg/parquetconverter/converter_test.go
  pkg/parquetconverter/metrics.go
  pkg/storage/parquet/util.go
  pkg/storage/parquet/util_test.go
  pkg/storage/tsdb/bucketindex/index.go
Labels: type/observability, size/L, component/compactor, lgtm

#6816 Enhance the performance of the frontend JSON codec
  CHANGELOG.md
  pkg/chunk/json_helpers.go
  pkg/querier/tripperware/query.go
Labels: type/performance, size/M, component/query-frontend, lgtm

#6830 Allow store gateway to ignore syncing blocks older than certain time
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/storage/tsdb/config.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
Labels: size/L, storage/blocks, component/store-gateway

#6713 Introduce a regex tenant resolver
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  docs/configuration/v1-guarantees.md
  integration/querier_tenant_federation_test.go
  pkg/cortex/modules.go
  pkg/querier/tenantfederation/exemplar_merge_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/tenantfederation/metadata_merge_querier_test.go
  pkg/querier/tenantfederation/regex_resolver.go
  pkg/querier/tenantfederation/regex_resolver_test.go
  pkg/querier/tenantfederation/tenant_federation.go
  pkg/tenant/resolver.go
  pkg/tenant/tenant.go
Labels: component/querier, size/XXL, lgtm

#6829 Unify chunks and metadata cache backend to bucket cache
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/storage/tsdb/caching_bucket.go
  pkg/storage/tsdb/caching_bucket_test.go
  pkg/storage/tsdb/multilevel_bucket_cache.go
  pkg/storage/tsdb/multilevel_bucket_cache_test.go
  pkg/storage/tsdb/multilevel_index_cache.go
  pkg/storage/tsdb/multilevel_index_cache_test.go
Labels: size/L, storage/blocks, lgtm

#6827 Split compactor cleaner metrics
  CHANGELOG.md
  docs/blocks-storage/querier.md
  docs/blocks-storage/store-gateway.md
  docs/configuration/config-file-reference.md
  pkg/compactor/blocks_cleaner.go
  pkg/compactor/blocks_cleaner_test.go
  pkg/storage/tsdb/caching_bucket.go
Labels: size/L, component/compactor

#6834 Add native histogram max sample size limit validation
  CHANGELOG.md
  docs/configuration/config-file-reference.md
  pkg/util/validation/errors.go
  pkg/util/validation/limits.go
  pkg/util/validation/validate.go
  pkg/util/validation/validate_test.go
Labels: size/M

#6844 Add response compression wrapper for query api
  pkg/api/queryapi/query_api.go
Labels: component/querier, size/XS

#6837 refactor: delete a NumOverrides error
  pkg/alertmanager/multitenant_test.go
  pkg/compactor/compactor_paritioning_test.go
  pkg/compactor/compactor_test.go
  pkg/compactor/partition_compaction_grouper_test.go
  pkg/compactor/shuffle_sharding_grouper_test.go
  pkg/cortex/modules.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ingestion_rate_strategy_test.go
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter_test.go
  pkg/ingester/user_metrics_metadata_test.go
  pkg/ingester/user_state_test.go
  pkg/parquetconverter/converter_test.go
  pkg/querier/distributor_queryable_test.go
  pkg/querier/parquet_queryable_test.go
  pkg/querier/querier_test.go
  pkg/querier/tripperware/queryrange/query_range_middlewares_test.go
  pkg/querier/tripperware/roundtrip_test.go
  pkg/ruler/ruler_test.go
  pkg/storegateway/gateway_test.go
  pkg/util/push/otlp_test.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: type/chore, size/L

#6836 Add tenantID validation to regex validator
  pkg/querier/tenantfederation/regex_resolver.go
  pkg/querier/tenantfederation/regex_resolver_test.go
  pkg/tenant/tenant.go
Labels: component/querier, size/M, lgtm

#6845 Add a query result limit to regex matcher
  CHANGELOG.md
  pkg/cortex/modules.go
  pkg/frontend/transport/handler.go
  pkg/querier/tenantfederation/exemplar_merge_queryable_test.go
  pkg/querier/tenantfederation/merge_queryable_test.go
  pkg/querier/tenantfederation/metadata_merge_querier_test.go
  pkg/querier/tenantfederation/regex_resolver.go
  pkg/querier/tenantfederation/regex_resolver_test.go
Labels: component/querier, size/M

#6852 [Vote] SungJin1212 as new Cortex maintainer
  MAINTAINERS.md
Labels: size/XS, Vote, lgtm
